@Kopernicus:HAS[!WhirligigWorldSettings]:AFTER[aWhirligigWorld]
{
	#@WhirligigWorldSettings {}
}
@EVE_CLOUDS:HAS[!WhirligigWorldSettings]:AFTER[aWhirligigWorld]
{
	#@WhirligigWorldSettings {}
}
@EVE_CLOUDS:HAS[@WhirligigWorldSettings:HAS[#Homeworld[Kerbmun]]]:AFTER[aWhirligigWorld]
{
	!OBJECT[Kerbmun-clouds1]{}
	OBJECT
	{
		name = Kerbin-clouds1
		body = Kerbin
		altitude = 4000
		speed = 0,6,0
		detailSpeed = 0,2,0
		settings
		{
			_DetailTex = WhirligigWorld/ModCompatibility/Clouds/Textures/detail1
			_DetailScale = 30
			_UVNoiseTex = WhirligigWorld/ModCompatibility/Clouds/Textures/uvnoise1
			_MainTex
			{
				value = WhirligigWorld/ModCompatibility/Clouds/Textures/kermun_clouds
				type = RGBA
			}
		}
		layer2D
		{
			shadowMaterial
			{
			}
			macroCloudMaterial
			{
				_DetailDist = 2E-06
			}
		}
		layerVolume
		{
			maxTranslation = 100,200,100
			size = 2000,2.2
			area = 18000,4
			noiseScale = 1.2,1.3,90
			particleMaterial
			{
				_Tex = WhirligigWorld/ModCompatibility/Clouds/Textures/particle/rgb
				_BumpMap = WhirligigWorld/ModCompatibility/Clouds/Textures/particle/particle_NRM
				_LightScatter = 0.55
			}
		}
	}
}
@Kopernicus:HAS[@WhirligigWorldSettings:HAS[#Homeworld[Kerbmun]]]:AFTER[aWhirligigWorld]
{
	@Body[Kerbin]
	{
		@name = Mesbin
		%Properties
		{
			%isHomeWorld = False
		}
	}
	@Body[Statmun]
	{
		@Orbit
		{
			@referenceBody = Mesbin
		}
	}
	@Body[Gramun]
	{
		@Orbit
		{
			@referenceBody = Mesbin
		}
	}
	@Body[Derbin]
	{
		@Orbit
		{
			@referenceBody = Mesbin
		}
	}
	@Body[Kerbmun]
	{
		@name = Kerbin
		@Template
		{
			@name = Kerbin
			@removeAllPQSMods = False
			%removePQSMods = VertexSimplexHeightAbsolute,VertexHeightNoiseVertHeightCurve2,VertexRidgedAltitudeCurve,LandControl,VertexHeightMap
		}
		@Properties
		{
			%isHomeWorld = True
			%displayName = Kerbmun
		}
		@Orbit
		{
			@referenceBody = Sun
		}
		PostSpawnOrbit
		{
			referenceBody = Mesbin
		}
		SpaceCenter
		{
			//PQSCity
			latitude = 0
			longitude = 0
			lodvisibleRangeMult = 6
			repositionRadiusOffset = -20
			
			// MapDecal
			decalLatitude = 0
			decalLongitude = 0
			heightMapDeformity = 80
			absoluteOffset = 0
			absolute = true
			radius = 8000
			
			reorientFinalAngle = 270
			
			// Ground Materials
			groundColor = 0.694029808,0.631407022,0.473202139,1
			//groundTexture = BUILTIN/ksc_exterior_terrain_ground
		}
	}
}